:root {
    --taskbar-space: calc(44px + 8.5px * 2);
    scrollbar-color: white #000000bb;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;

    z-index: 10;
}

.control {
    max-width: 15em;
    margin: 3px;
    z-index: 20;
}

#background-list {
    visibility: hidden;
    z-index: 40;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-y: scroll;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#background-list::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    z-index: 30;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blur {
    filter: blur(4px);
}

#bg-select-button {
    z-index: 60;
    max-width: none;
    width: 240px;
}

#loading {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5em;
    visibility: hidden;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.background-item {
    max-width: 15rem;
    z-index: 50;
    margin: 1rem 0rem;
    box-shadow: black 0.1em 0.1em 0.2em
}

.text {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 60vh;
}

.shipmodel-img {
    max-width: 3em;
    max-height: 3em;
}

#model-select {
    max-height: 20em;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#motion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

#motion-list > button {
    flex-grow: 1;
}

.flex-positioner {
    display: flex;
    padding-bottom: var(--taskbar-space);
    height: calc(100% - var(--taskbar-space));
    align-items: flex-end;
}

button,
input[type="search"] {
    background-color: #000000bb;
    color: white;
    border: solid 1px #353535;
    border-radius: 5px;
}

input[type="search"] {
    z-index: 20;
    padding: 5px;
}

.shipmodel-img-container { /* For positioning text */
    position: relative;
    text-align: center;
}

.shipmodel-img-container:has(.shipmodel-img-hx)::after {
    content: 'CN';
    color: white;
    position: absolute;
    bottom: 1px;
    right: 50%;
    transform: translate(50%, 0);
    text-shadow: 0 0 2.5px black;
    font-weight: bold;
    font-size: small;
}

.model-search-filtered {
    display: none;
}